.preferences {
  -moz-box-flex: 1;
  flex-grow: 1;
  position: relative;
  padding: 20px;
  max-width: calc(100% - 220px);
}

.preferences-content {
  max-width: 1280px;
  margin: 0 auto;
}

.preferences-content h1 {
  margin: 30px 0;
  color: #2e384d;
  font-size: 34px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1;
}

.preferences-content form {
  box-sizing: inherit;
}

.preferences-jobStatus {
  display: flex;
  flex-direction: column;
}

.preferences-box {
  padding: 30px;
  margin-bottom: 43px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

.preferences-header {
  display: flex;
  flex-direction: column;
}

.preferences-header p {
  color: rgb(135, 144, 150);
  margin: 0 0 30px 50px;
  font-size: 14px;
}

.preferences-heading {
  display: flex;
  align-items: center;
}

.preferences-heading h2 {
  color: #37474f;
  font-size: 22px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1;
}

.preferences-heading b {
  color: #bfc5d2;
  font-size: 16px;
}

.preferences-heading i {
  color: rgb(192, 202, 51);
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(249, 251, 231) none repeat scroll 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.blue i {
  color: rgb(92, 107, 192);

  background: rgb(237, 231, 246) none repeat scroll 0% 0%;
}

.light-blue i {
  color: rgb(77, 208, 225);
  font-size: 16px;
  background: rgb(224, 247, 250) none repeat scroll 0% 0%;
}

.blue i {
  color: rgb(68, 138, 255);
  background: rgb(225, 245, 254) none repeat scroll 0% 0%;
}

.orange i {
  color: rgb(249, 168, 37);
  font-size: 16px;
  background: rgb(255, 243, 224) none repeat scroll 0% 0%;
}

.orange-dark i {
  color: rgb(255, 138, 101);
  font-size: 24px;
  font-weight: 600;
  background: rgb(255, 204, 188) none repeat scroll 0% 0%;
}

.red i {
  color: rgb(255, 93, 93);
  font-size: 16px;
  background: rgb(252, 228, 236) none repeat scroll 0% 0%;
}

.grey i {
  color: rgb(120, 144, 156);
  font-size: 18px;
  background: rgb(236, 239, 241) none repeat scroll 0% 0%;
}

.green i {
  color: rgb(104, 188, 108);
  background: rgb(230, 244, 244) none repeat scroll 0% 0%;
}

.purple i {
  color: rgb(171, 71, 188);
  background: rgb(232, 234, 246) none repeat scroll 0% 0%;
}

.pink i {
  color: rgb(255, 64, 129);
  background: rgb(252, 228, 236) none repeat scroll 0% 0%;
}

.jobStatus-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.jobStatus-change {
  border-radius: 10px;
  width: 160px;
  max-height: 140px;
  font-size: 12px;
  line-height: 20px;
  padding: 20px 10px;
  border: 2px solid rgb(228, 232, 240);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jobStatus-change i {
  font-size: 70px;
  color: lightgray;
  width: 100%;
  text-align: center;
}

.jobStatus-change span {
  text-align: center;
}

.jobStatus-change:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.border-pink span {
  color: #ff4081;
  border-color: #ff4081;
}

.border-pink i {
  color: #ff4081;
}

.jobStatus-input {
  width: 100%;
}

.jobStatus-input input {
  width: 99%;
  border: 1px solid rgb(228, 232, 240);
  border-radius: 4px;
  min-height: 49px;
  font-size: 16px;
  outline: none;
  padding: 0px 0px 0px 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.jobStatus-input input:hover {
  border-color: black;
}

.jobStatus-input input:focus {
  border: 2px solid #ff4081;
}

.inputStatus {
  display: flex;
  flex-wrap: wrap;
}

.inputTech-status {
  display: flex;
  flex-wrap: wrap;
}

.inputStatus-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 49px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(228, 232, 240);
}

.inputStatus-box input {
  border: none;
  outline: none;
  padding: 0px 0px 0px 10px;
  font-size: 18px;
  min-width: 255px;
}

.inputStatus-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cities-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cities-box i {
  color: #ff4081;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 24px;
}

.cities {
  position: absolute;
  margin-top: 10px;
  left: 13.5%;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  height: 220px;
  padding: 10px 0px 2px 0px;
  z-index: 20;
  width: 73%;
  height: 320px;
  border-radius: 4px;
  border: 1px solid rgb(228, 232, 240);
}

.skills {
  margin-top: -400px;
}

.cities li {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-weight: 400;
}

.cities ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.cities li:hover {
  cursor: pointer;

  background-color: rgba(52, 183, 235, 0.2);
}

.display-none {
  display: none !important;
}

.jobStatus-button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(0, 0, 0, 0.87);

  font-size: 0.875rem;

  font-family: Open Sans, sans-serif;

  font-weight: 500;

  line-height: 1.75;

  border: 2px solid rgb(228, 232, 240);

  border-radius: 24px;

  text-transform: none;

  min-width: 60px;

  padding: 9px 21px;
}

.jobStatus-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.company span {
  margin-top: 15px;
}

.z-index100 {
  z-index: 100;
  margin-right: 15px;
}

.btn-icon {
  margin: 0px 10px 10px;
  margin-left: 10px;
}

.btn-icon i {
  margin-right: 8px;
}

.input-Box {
  padding: 20px 30px 40px 30px;
}

.input-range {
  width: 77%;

  margin-left: 10px;
  margin-bottom: 30px;
}

.input-range__slider {
  border: 2px solid white;
  background-color: rgb(163, 53, 181);
  width: 19px;
  height: 19px;
  margin-top: -0.95rem;
}

.input-range__track--active {
  background-color: rgb(163, 53, 181);
  height: 7px;
}

.input-range__track {
  transition: left 0.1s ease-out, width 0.1s ease-out;
}

.input-range__track--background {
  margin-right: 100px;
  margin-left: 50px;
}

.input-range__track--active {
  transition: left 0.1s ease-out, width 0.1s ease-out;
}

.input-range__slider-container {
  transition: left 0.1s ease-out;
}

.input-range__label-container {
  left: 0%;
  color: rgb(135, 144, 150);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.22px;
  line-height: 17px;
}

.input-range__label--value {
  display: none;
}

.input-range__label--max {
  margin-top: 2px;
  top: 0;
}

.range__label--max {
  position: relative;
}

.input-range__label--min {
  margin-top: 2px;
  top: 0;
}

.input-range__label--max .input-range__label-container {
  left: -30%;
  color: rgb(135, 144, 150);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.22px;
  line-height: 17px;
}

.input-values {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(255, 64, 129);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 20px;
}

.input-span {
  font-size: 20px;
}

.input-value {
  font-size: 14px;
  margin-bottom: 40px;
}

.input-chosen {
  height: 30px;
  color: rgb(215, 14, 98);
  font-size: 13.82px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 5px;
  background-color: rgba(255, 248, 251, 0.26);
  border: 2px solid rgba(255, 64, 129, 0.19);
  border-radius: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 130px;
  padding: 3px 6px;
}

.icon-box {
  margin-left: 5px;
  margin-top: 3px;
}

.input-chosen i {
  font-size: 18px;
  color: #ff4081;
}

.input-chosen i:hover {
  cursor: pointer;
}

.input-range__track--background {
  height: 7px;
}

.mr-20 {
  margin-right: 20px;
}

.mrg-right {
  margin-right: 10px;
}

.width-100 {
  width: 100%;
}

.mr-10 {
  margin-right: 10px;
}
