.userLoginContent {
  width: 100vw;
  background: rgb(245, 247, 250) none repeat scroll 0% 0%;
  display: flex;
}

.userLoginSidebar {
  z-index: 3;
  flex-shrink: 0;
  width: 220px;
  padding: 20px 0;
  text-align: center;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.userLoginSidebarNightMode {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
  color: rgba(255, 255, 255, 0.8)!important
}

.userLoginSidebarContent {
  position: sticky;
  top: 20px;
}

.userLoginSidebarContentNightMode {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
}

.userLoginImg {
  box-shadow: rgba(0, 0, 0, 0.08) 0 6px 13px 0;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
  position: relative;
  text-align: center;
  flex-shrink: 0;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  background-position: 0% 0%;
  background-attachment: scroll;
  background-image: url('./waving-bear.jpg');
  background-origin: padding-box;
  background-clip: border-box;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.userLoginWelcome {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 16px;
}

.userLoginWelcome p {
  color: rgb(55, 71, 79);
  font-weight: 500;
}

.userLoginJobStatus {
  margin: 0px 8px;
  border-radius: 20px;
  font-size: 10px;
  padding: 8px 10px;

  font-weight: 600;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.green {
  color: rgb(73, 189, 133);
}

.bg-green {
  background: rgba(0, 230, 118, 0.1) none repeat scroll 0% 0%;
}

.blue {
  color: rgb(41, 98, 255);
}

.bg-blue {
  background: rgb(238, 244, 255) none repeat scroll 0% 0%;
}

.red {
  color: rgb(229, 57, 53);
}

.bg-red {
  background: rgb(253, 238, 238) none repeat scroll 0% 0%;
}

.backgroundRed {
  background: rgb(253, 238, 238) none repeat scroll 0% 0%;
}

.userLoginJobStatus i.small-chew {
  font-size: 11px;
  vertical-align: middle;
  margin-top: 2px;
  margin-left: 10px;
}

.userLoginJobStatus i.big-circle {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.userLoginJobStatus p {
  margin: 0;
  font-weight: 600;
}

.userLoginJobStatusChanger {
  position: absolute;
  width: 240px;
  height: 160px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 20;
  margin-left: 5px;
  border-radius: 5px;
}

.userLoginJobStatusChangerNightMode {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
}

.userLoginJobStatusChanger ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: left;
  margin: 0;
  margin-top: 7px;
}

.userLoginJobStatusChanger li {
  padding: 4px 16px 4px 9px;
  font-size: 16px;
  list-style-type: none;
  width: 90%;
  height: 40px;
  color: #8798ad;
  display: flex;
  align-items: center;
}

.userLoginJobStatusChanger li:hover {
  background-color: rgba(255, 243, 230, 0.3);
  cursor: pointer;
}

.userLoginOptions {
  padding-top: 8px;
  padding-bottom: 8px;
}

.userLoginOptionslist {
  padding-left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  color: #37474f;
}

.userLoginOptionslist:hover {
  background-color: rgba(255, 243, 230, 0.3);
  color: #ff4081;
}

.userLoginOptionslist i {
  margin-right: 20px;
  font-size: 18px;
}

.userLoginActive {
  border-left: #ff4081 solid 4px;
  padding-left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ff4081;
  font-weight: 400;
}

.userLoginOptions a:link {
  text-decoration: none;
  color: #99a1ab;
}

.userLoginActive::before {
  left: 0px;
  width: 47px;
  height: 11%;
  content: '';
  display: block;
  opacity: 0.4;
  position: absolute;
  background: linear-gradient(90deg, #ff4081 0%, rgba(255, 255, 255, 0) 100%);
}

.userLoginContainer {
  -moz-box-flex: 1;
  flex-grow: 1;
  padding: 20px;
}

.userLoginContainerNightMode {
  background-color: rgb(57, 57, 57);
}

.userLoginContainerContent {
  margin: 0px auto;
  max-width: 1280px;
}

.userLoginContainerContent h1 {
  color: #2e384d;
  font-size: 34px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1;
}


.userLoginContainerContentNightMode h1 {
  color: rgb(183, 196, 208);
}

.myProfileContent {
  width: calc(100% + 24px);
  margin: -12px;
  display: flex;
  box-sizing: border-box;
}

.userDetails {
  padding: 12px;
}

.userDetailsContent {
  padding: 20px 20px 40px 20px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  margin-bottom: 22px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 650px;
  height: 840px;
}

.userDetailsContentNightMode {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
}

.userDetailsContent h3 {
  color: #bfc5d2;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.04;
  margin-bottom: 20px;
}

.userDetailsImgContent {
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.87);
}

.userDetailsImg {
  border: 3px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 13px 0px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  margin: 0px auto;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
  position: relative;
  text-align: center;
  flex-shrink: 0;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0);
  background-position: 0% 0%;
  background-attachment: scroll;
  background-image: url('./waving-bear.jpg');
  background-origin: padding-box;
  background-clip: border-box;
}

.userDetailsChangePhoto {
  height: 34px;
  width: 100%;
  opacity: 0.63;
  background-color: rgb(51, 51, 51);
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 0px;
  left: 0px;
}

.userDetailsChangePhoto i {
  font-size: 16px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
}

.myProfileInput {
  width: 100%;
  height: 75%;
}

.upi {
  width: 90%;
}

.upi label {
  color: #bfc5d2;
}

.upi input:valid + .labelName .contentName {
  transform: translateY(-140%);
  color: #bfc5d2;
  background-color: white;
  border-radius: 10px;
}

.upi input:focus + .labelName .contentName {
  color: #ff4081;
}

.upi textarea:valid + .labelName .contentName {
  transform: translateY(-140%);
  color: #bfc5d2;
  background-color: white;
  border-radius: 10px;
}

.upi textarea:focus + .labelName .contentName {
  transform: translateY(-140%);
  color: #ff4081;
  background-color: white;
  border-radius: 10px;
}

.upiNightMode textarea:valid + .labelName .contentName {
  transform: translateY(-140%);
  color: #ff4081;
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
  border-radius: 10px;
}

.upiNightMode textarea:focus + .labelName .contentName {
  transform: translateY(-140%);
  color: #ff4081;
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
  border-radius: 10px;
}

.pointerEventsNone {
  pointer-events: none;
}

.pointerEventsNone input {
  color: #999999;
  font-weight: 400;
}

.bigInput textarea {
  width: 585px;
  height: 240px;
  resize: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  outline: none;
}

.biggInput input {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 200px;
}

.biggInputNightMode textarea {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
  color: rgb(183, 196, 208);
}

.biggInput label {
  display: flex;
  align-self: flex-start;
}

.uploadCV {
  width: 650px;
  height: 500px;
}

.uploadCVContent {
  padding: 10px 25px 30px 25px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 600px;
  height: 440px;
}

.uploadCVContent h3 {
  color: #bfc5d2;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.04;
}

.uploadCVContent p {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Open Sans', sans-serif;
}

.uploadCVContent b {
  margin-bottom: 20px;
}

.uploadCVContentNightMode {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
}

.uploadCVContentNightMode b,
.uploadCVContentNightMode p {
  color: rgb(183, 196, 208);
}

.uploadCVCploadFile {
  display: flex;
  -moz-box-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 235px;
  width: 100%;
  border: 1px dashed #bfc5d2;
  border-radius: 6px;
  margin-top: 20px;
}

.uploadFileBox {
  height: 138px;
  width: 138px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadFileBox i {
  font-size: 50px;
  color: #bfc5d2;
}

.display-flex {
  display: flex;
}

.display-flex i {
  font-size: 40px;
}

.display-flex label {
  left: 8%;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.uploadFileText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadFileText p {
  color: #bfc5d2;
  font-size: 16px;
}

.uploadFileText b {
  color: rgb(52, 124, 255);
  font-size: 16px;
  font-weight: 400;
}

.yearsOfExperiance {
  width: 615px;
  height: 180px;
  margin-bottom: 50px;
}

.yearsOfExperianceContent {
  padding: 20px 20px 20px 20px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  height: 100%;
}

.yearsOfExperianceContent p {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 600;
}

.yearsOfExperianceContent h3 {
  margin: 0;
  margin-bottom: 20px;
  color: #bfc5d2;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.04;
}

.yearsOfExperianceContentNightMode {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
}

.yearsOfExperianceContentNightMode p {
  color: rgb(183, 196, 208);
}

.yearsBoxesContent {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.yearsBoxesContent b {
  font-weight: 400 !important;
}

.yearsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(135, 144, 150);
  border: 2px solid rgb(240, 240, 240);
  width: 100px;
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

.yearsBox p {
  font-size: 22px;
}

.yearsBox:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.yearsBoxNightMode:hover {
  background: rgba(57, 57, 57, 0.5) none repeat scroll 0% 0%;
}


.color-pink {
  color: #ff4081 !important;
}

/* .border-pink {
  border-color: #ff4081 !important;
} */

.color-pink p {
  color: #ff4081 !important;
}



.socialLinks {
  width: 615px;
  height: 120px;
}

.socialLinksContent {
  padding: 10px 20px 20px 20px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  height: 100%;
}

.socialLinksContentNightMode {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
}

.socialLinksContent h3 {
  color: #bfc5d2;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.04;
  margin-bottom: 20px;
}

.socialLinksContent p {
  margin: 0;
}

.pinkButton {
  text-transform: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 9px 16px;
  height: auto;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  background-color: #ff4081;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
  border-radius: 40px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: none;
  border: none;
}

.pinkButton:hover {
  background-color: #990033;
}

.margTop20 {
  margin-top: 20px;
}

.fs40 {
  font-size: 40px;
}

.upiNightMode input:focus + .labelName .contentName,
.upiNightMode input:valid + .labelName .contentName {
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
  color: #ff4081;
}

.requiredAlert {
  position: absolute;
  top: -12px;
  right: -20px;
  background: rgb(255, 255, 255);
  color: #FF8F00!important;
  margin: 0;
  font-size: 0.75rem;
  margin-top: 3px;
  text-align: left;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
  line-height: 1.66;
}

.requiredAlert i {
  margin-left: 10px;
}

.requiredAlertNightMode{
  background: rgb(76, 80, 82) none repeat scroll 0% 0%;
}