.side-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 18%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.side-drawer.open {
  transform: translateX(0%);
}

.side-drawer ul {
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer li {
  margin: 0.5rem 0;
  width: 100%;
  font-size: 20px;
}

.side-drawer li:hover {
  background-color: #f2f2f2;
}

.side-drawer a {
  color: grey;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  cursor: pointer;
}

.side-drawer h1 {
  color: black;
  font-size: 30px;
  text-align: center;
}

.side-drawer i {
  font-size: 20px;
  margin-right: 40px;
  margin-left: 40px;
}
