.reg-register {
  width: 100vw;
  height: calc(100vh - 66px);
  display: flex;
  justify-content: flex-end;
}

.reg-register h1 {
  text-align: center;
  color: #2e384d;
  font-size: 34px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}

.reg-register h2 {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin: 15px;
}

.registering {
  margin: 75px 84px;
  width: 420px;
  float: right;
}

.reg-media {
  width: 420px;
  padding: 0 16px;
  min-width: 48px;
  min-height: auto;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 0.01;
}

.reg-media p {
  font-size: 14px;
  height: 0px;
  color: #666666;
  margin-bottom: 15px;
}

.reg-media-item {
  border-radius: 20px;
  width: 170px;
  padding: 10px;
  background-color: #f2f2f2;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-media-item:hover {
  background-color: #cccccc;
}

.reg-media-icon {
  display: flex;
  align-self: center;
  margin-right: 10px;
}

.color-blue {
  color: rgb(52, 124, 255);
}

.color-black {
  color: black;
}

.google-icon {
  width: 20px;
  margin-right: 10px;
}

.span {
  height: 2px;
  background: rgb(231, 233, 239) none repeat scroll 0% 0%;
  margin: 0px 0px 30px;
  text-align: center;

  width: 400px;
}

.login {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.login-input:focus {
  border: 1px solid #ff4081;
}

.sup-register {
  text-align: center;
  color: black;

  font-weight: 600;
}

.sup-register a {
  text-decoration: none;
  color: #ff4081;
  font-size: 16px;
}

.sup-register a:hover {
  cursor: pointer;
}

.reg-img {
  width: 50%;
}

.reg-img img {
  width: 100%;
  height: 100%;
}

.form {
  width: 80%;
  position: relative;
  height: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  height: 50px;
  color: #595f6e;
  outline: none;
  border-radius: 5px;
  border: 1px #99a1ab solid;
  font-size: 18px;
  padding: 0px 20px;
}

.form input.big {
  font-size: 30px;
  color: black;
  position: absolute;
}

.form input:focus {
  border-color: #ff4081;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin-left: 15px;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-140%);
  color: #ff4081;
  background-color: white;
  border-radius: 10px;
}

.register-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  margin: 0 0 15px 0;
}

.register-checkbox input {
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

.register-checkbox h2 {
  margin: 0px;
  margin-left: 5px;
}

.register-checkbox a {
  color: #ff4081;
}

.years-boxNightMode:hover {
  background: rgba(57, 57, 57, 0.5) none repeat scroll 0% 0%;
}
