.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 80px;
  font-weight: 600;
  line-height: 1;
  border-bottom: 1px solid lightgrey;
}

.navbar i {
  margin-right: 15px;
}

h2 {
  margin-right: 30px;
  font-weight: normal;
  font-size: 17px;
}

.navbar button {
  color: #fff;
  font-weight: 600;
  line-height: 38px;
  font-size: 14px;
  height: 40px;
  margin-right: 12px;
  align-self: center;
  justify-content: center;
  display: flex;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 2px;
  width: 120px;
  border: none;
  outline: none;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 70px;
}

.nav-right a:link {
  display: flex;
}

.navbar button:hover {
  cursor: pointer;
}

.bg-purple {
  background: #9c27b0;
}

.bg-purple:hover {
  background-color: #660066;
}

.bg-pink {
  background-color: #ff4081;
}

.bg-pink:hover {
  background-color: #cc0066;
}

.c-pink {
  color: #ff4081;
}

.active {
  color: #ff4081;
}

.hov:hover {
  cursor: pointer;
  color: #ff69b4;
}

.bars {
  margin-top: 24px;
  font-size: 20px;
  margin-left: 20px;
}

.fas.fa-bars {
  margin-top: 5px;
}

.title {
  margin-left: 30px;
  margin-right: 40px;
  color: #37474f;
  fill: #37474f;
}

.navbar a:hover {
  text-decoration: none;
  color: #ff69b4;
}

.navbar a:link {
  text-decoration: none;
}

a:visited {
  color: #99a1ab;
}

a:active {
  color: #ff4081;
}

.spacer {
  flex: 1;
}

.sign-in img {
  color: white;
  position: absolute;
  top: 28px;
  right: 100px;
  width: 25px;
}

.sign-in img:hover {
  cursor: pointer;
}

.side-bar {
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  right: 70px;
  background-color: white;
  width: 320px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px #888888;
  z-index: 200;
}

.display-none {
  display: none;
}

.arrowUp img {
  position: absolute;
  top: -20px;
  right: 20px;
  width: 24px;
}

.sb-link {
  margin-left: 15px;
  width: 90%;
  border: 1px solid lightgrey;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.sb-link:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.pink-icon {
  border-radius: 100px;
  background: rgb(255, 227, 237) none repeat scroll 0% 0%;
  color: rgb(255, 64, 129);
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purple-icon {
  border-radius: 100px;
  background-color: rgb(242, 225, 244);
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(163, 53, 181) !important;
}

.link-paragraph {
  margin-right: 24px;
}

.user-panel {
  border-left: 1px solid rgb(229, 234, 243);
  border-right: 1px solid rgb(229, 234, 243);
  display: flex;
  align-self: stretch;
  -moz-box-align: center;
  align-items: center;
  height: 80px;
}

.userPanel-content {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0 14px;
  max-width: 200px;
  font-size: 14px;
  color: rgb(153, 161, 171);
}

.userPanel-content i {
  margin: 0;
  margin-left: 10px;
}

.userPhoto {
  border: 3px solid rgb(255, 255, 255);

  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 13px 0px;

  border-radius: 50%;

  color: rgb(255, 255, 255);

  margin: 0px auto;

  background-size: cover !important;

  background-repeat: no-repeat !important;

  overflow: hidden;

  position: relative;

  text-align: center;

  flex-shrink: 0;

  display: flex;

  -moz-box-align: center;

  align-items: center;

  width: 40px;

  height: 40px;

  background-color: rgba(0, 0, 0, 0);
  background-position: 0% 0%;
  background-attachment: scroll;
  background-image: url('./waving-bear.jpg');
  background-origin: padding-box;
  background-clip: border-box;
}

.userPanel-sidebar {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 250px;
  height: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  z-index: 20;
  padding: 5px 5px;
  z-index: 200;
}

.sb-userProfile {
  border-radius: 5px;
  justify-content: space-around;
  margin-left: 12px;
}

.userPanel-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 204, 221, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.userPanel-icon i {
  margin: 0;
  font-size: 18px;
  color: rgb(255, 64, 129);
}

.mr {
  margin-right: 5px !important;
}

.contactUs {
  position: absolute;
  width: 600px;
  height: 550px;
  top: 25%;
  left: 38%;
  z-index: 300;
}

.contactUs-box {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #d1d1d1 !important;
  font-weight: 400;
  border-radius: 5px;
  color: #444;
  font-size: 1.1em;
  line-height: 1.5em;
}

.contactUs-header {
  color: #fff;
  padding: 20px 15px 5px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(90deg, #ec4cb6, #9c27b0);

  background-position: center;
  background-size: cover;
}

.contactUs-header p {
  text-align: center;
}

.contactUs-header h4 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.contactUs-content {
  padding: 30px 0 60px 100px;
}

.brands-i {
  color: #37474f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.brands-i i {
  font-size: 1.5rem !important;
  margin: 0 !important;
}

.contactUs-submitBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs-submit {
  width: 140px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #ff4081;
  text-align: center;
  letter-spacing: 0.5px;
  height: 36px;
  line-height: 36px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.contactUs-submit:hover {
  background-color: #ff5a92;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.contactUs-submit i {
  margin: 0;
  margin-left: 2px;
}

.everything-ok {
  display: flex;
  flex-direction: column;
  padding: 60px;
  color: #444;
}

.everything-ok i {
  font-size: 100px;
  color: #00cc33;
  margin: 0;
  margin-bottom: 20px;
}

.everything-ok p {
  margin: 0;
}

.everything-okBox {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
}

.background-none {
  background: none !important;
}

.roundedBtn {
  color: #fff;
  font-weight: 600;
  line-height: 38px;
  font-size: 14px;
  height: 40px;
  margin-right: 12px;
  align-self: center;
  justify-content: center;
  display: flex;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 2px;
  width: 120px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margTop-20 {
  margin-top: 20px;
}

.marg0 {
  margin: 0 !important;
}
