.sidebarBox {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
}

.sidebar-map {
  width: 50%;
  height: calc(100vh - 130px);
}

.sidebarOffers {
  padding: 10px 0 10px 10px;
  width: 50%;
  height: calc(100vh - 149px);
  background-color: #f3f6f8;
  overflow: auto;
  scroll-behavior: smooth;
  transition: all 0.3s ease-out 0s;
}

.sidebarOffersNightMode {
  background: rgb(33, 33, 33);
  transition: all 0.3s ease-out 0s;
}

.offerItem {
  display: flex;
  width: 98%;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 77px;
  margin: 0 10px 12px 10px;
  padding: 0;
  background-color: #fff;
  display: flex;
}

.offerItem a {
  text-decoration: none;
  width: 100%;
}

.offerItem:hover {
  transition: box-shadow 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07), 0 3px 7px 0 rgba(0, 0, 0, 0.06);
}

.offerItemNightMode {
  display: flex;
  width: 98%;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 77px;
  margin: 0 10px 12px 10px;
  padding: 0;
  background-color: rgb(44, 44, 44);
  display: flex;
  transition: all 0.3s ease-out 0s;
}

.offerItemNightMode a {
  text-decoration: none;
  width: 100%;
}

.ib-lightBlue {
  background: rgb(106, 215, 229) none repeat scroll 0% 0%;
}

.ib-yellow {
  background: linear-gradient(0deg, #ffc706, #ffaf00);
}

.itemBorder {
  width: 5px;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.itemContent {
  display: flex;
  text-decoration: none;
  min-width: 0;
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
  font-size: 11px;
  align-items: center;
  flex: 1;
}

.companyLogo {
  height: 20px;
  flex: 0 0 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companyLogo img {
  max-height: 40px;
  max-width: 85px;
  display: block;
}

.itemRow {
  padding: 0 20px 0 10px;
  width: 100%;
}

.primaryLine {
  color: #5a6371;
  display: flex;
  align-items: center;
}

.offerTitle {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 5px 0 0;
  line-height: 23px;
  font-weight: 600;
  transition: all 0.3s ease-out 0s;
}

.offerTitleNightMode {
  color: rgb(183, 196, 208);
  transition: all 0.3s ease-out 0s;
}

.offerAge {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.salaryRow {
  vertical-align: middle;
  color: #1ec66c;
  text-align: right;
  font-size: 16px;
  white-space: nowrap;
}

.age {
  font-size: 12px;
  margin: 0 0 0 16px;
  padding: 4px 7px;
  border-radius: 16px;
  white-space: nowrap;
  line-height: 11px;
  transition: all 0.3s ease-out 0s;
  border: 1px solid #e0e0e0;
}

.ageNightMode {
  font-size: 12px;
  margin: 0 0 0 16px;
  padding: 4px 7px;
  border-radius: 16px;
  white-space: nowrap;
  line-height: 11px;
  color: rgb(183, 196, 208);
  background-color: rgb(33,33,33);
  transition: all 0.3s ease-out 0s;
}

.new {
  color: #4256ef;
  background-color: #d9ddfc;
}

.newNightMode {
  color: rgb(221, 221, 221);
  background-color: rgb(119, 119, 119);
}

.secondaryLine {
  display: flex;
  margin: 6px 0 0 0;
  color: rgba(0, 0, 0, 0.87);
}

.companyInfo {
  color: #99a1ab;
  white-space: nowrap;
  font-size: 11px;
}

.companyInfo i {
  margin-right: 5px;
}

.companyName {
  margin-right: 20px;
}

.tags {
  margin: 0 0 0 auto;
  white-space: nowrap;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.tag {
  display: inline-block;
  color: #99a1ab;
  margin-left: 6px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  text-transform: lowercase;
  padding: 4px 7px;
  line-height: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 1ch;
  transition: all 0.3s ease-out 0s;
}

.tagNightMode {
  display: inline-block;
  margin-left: 6px;
  border-radius: 16px;
  text-transform: lowercase;
  padding: 4px 7px;
  line-height: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 1ch;
  background-color: rgb(33,33,33);
  color: rgb(183, 196, 208);
  border: 1px solid rgb(57, 57, 57);
  transition: all 0.3s ease-out 0s;
}

.remoteUp {
  height: 22px;
  padding: 0px 7px;
  font-size: 11px;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(224, 224, 224);
  margin: 0px 5px;
  color: rgb(55, 71, 79);
}

.offerRemoteUp {
  display: flex;
  align-items: center;
}

.offerRemote {
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  color: rgb(68, 138, 255);
  padding: 3px 10px;
  border-radius: 10px;
  margin-left: 10px;
}
