.userMachmaking {
  flex-grow: 1;
  position: relative;
  padding: 20px;
  max-width: calc(100% - 220px);
  font-family: 'Open Sans', sans-serif;
  color: rgb(55, 71, 79);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  height: 87vh;
}

.userMachmaking-box {
  max-width: 1280px;

  margin: 0px auto;
}

.userMachmaking-header {
  display: flex;
  justify-content: space-between;
}

.userMachmaking-header h2 {
  color: rgb(55, 71, 79);
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.userMachmaking-header a {
  text-decoration: none;
}

.editPreferences-btn {
  background-color: #ab47bc;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  padding: 0 16px;
  min-width: 80px;
  border-radius: 40px;
}

.userMachmaking-preferences {
  padding: 15px;
  margin: 0px -10px;
  min-height: 124px;
  display: flex;
  flex-wrap: wrap;
}

.preferencesBox {
  min-width: 238px;
  padding: 8px;
}

.preferencesItem {
  padding: 25px 15px;

  height: 55px;

  opacity: 1;

  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 8px 0px;

  color: rgba(0, 0, 0, 0.87);

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  background-color: #fff;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.preferencesItem i {
  float: left;

  font-size: 16px;

  height: 44px;

  margin-top: -2px;

  width: 44px;

  border-radius: 50%;

  display: flex;

  -moz-box-align: center;

  align-items: center;

  -moz-box-pack: center;

  justify-content: center;

  margin-right: 10px;

  border: 3px solid rgb(255, 255, 255);

  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 7px 0px;
}

.blueBox {
  color: rgb(92, 107, 192);
  background: rgb(237, 231, 246) none repeat scroll 0% 0%;
}

.lightBlueBox {
  color: rgb(92, 107, 192);
  background: rgb(225, 245, 254) none repeat scroll 0% 0%;
}

.lightBlueBlueBox {
  color: rgb(77, 208, 225);
  background: rgb(225, 245, 254) none repeat scroll 0% 0%;
}

.pinkBox {
  color: rgb(255, 64, 129);
  background: rgb(252, 228, 236) none repeat scroll 0% 0%;
  font-size: 18px !important;
}

.yellowBox {
  color: rgb(249, 168, 37);
  background: rgb(255, 243, 224) none repeat scroll 0% 0%;
}

.redBox {
  color: rgb(255, 93, 93);
  background: rgb(252, 228, 236) none repeat scroll 0% 0%;
}

.orangeBox {
  color: rgb(255, 138, 101);
  background: rgb(255, 204, 188) none repeat scroll 0% 0%;
  font-size: 24px !important;
}

.greenBox {
  color: rgb(104, 188, 108);
  background: rgb(230, 244, 244) none repeat scroll 0% 0%;
}

.greyBox {
  color: rgb(120, 144, 156);
  background: rgb(236, 239, 241) none repeat scroll 0% 0%;
}

.purpleBox {
  color: rgb(171, 71, 188);
  background: rgb(232, 234, 246) none repeat scroll 0% 0%;
}

.preferencesText b {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.preferencesText span {
  color: rgb(176, 186, 201);
  font-size: 12px;
  letter-spacing: 1.13px;
}

.preferencesText {
  display: flex;
  flex-direction: column;
}

.showLess {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  line-height: 22px;
}

.showLess-button {
  color: rgb(135, 144, 150);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.showLess-button i {
  margin-left: 5px;
}

.replies h1 {
  color: rgb(55, 71, 79);
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.userMachmaking-status {
  display: flex;
}

.userMachmaking-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 2px solid rgb(245, 247, 250);
  min-height: 60px;
  min-width: 160px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #b0bac9;
  cursor: pointer;
}

.left {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.middle {
  border-radius: 0px;
}

.right {
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.replied-active {
  color: rgb(255, 64, 129);
}

.maches-box {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maches-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: rgb(55, 71, 79);
  font-weight: 600;
}

.maches-content i {
  font-size: 140px;
}
