.matchmaking {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.matchmaking h1 {
  text-align: center;
  color: #2e384d;
  font-size: 34px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}

.matchmaking h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
  font-size: 600;
}

.logging {
  margin: 70px 100px;
  width: 400px;
}

.media {
  width: 400px;
  padding: 0 16px;
  min-width: 48px;
  min-height: auto;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 0.01;
}

.media p {
  font-size: 13px;
  height: 0px;
  color: #666666;
  margin-bottom: 15px;
}

.media-item {
  border-radius: 20px;
  width: 160px;
  padding: 10px;
  background-color: #f2f2f2;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-item:hover {
  background-color: #cccccc;
}

.media-icon {
  display: flex;
  align-self: center;
  margin-right: 10px;
}

.color-blue {
  color: rgb(39, 69, 167);
}

.color-black {
  color: black;
}

.google-icon {
  width: 20px;
  margin-right: 10px;
}

.span {
  height: 2px;
  background: rgb(231, 233, 239) none repeat scroll 0% 0%;
  margin: 0px 0px 30px;
  text-align: center;

  width: 400px;
}

.span-item {
  color: rgb(191, 197, 210);
  font-size: 14px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 0px 20px;
  position: relative;
  top: -12px;
}

.login {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.login-icon {
  display: flex;
  color: black;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0 !important;
  font-size: 20px;
}

.login-input:focus {
  border: 1px solid #ff4081;
}

.login-submit {
  border-radius: 24px;
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 100px;
  font-size: 18px;
  font-weight: 550;
  outline: none;
}

.login-submit:hover {
  cursor: pointer;
  background-color: #99003d;
}

.login-submit:active {
  background-color: #ff4081;
}

.register {
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;

  font-weight: 600;
}

.register a {
  text-decoration: none;
  color: #ff4081;
  font-size: 16px;
  font-weight: 600;
}

.register a:hover {
  cursor: pointer;
}

.img {
  width: 48.1%;
}

.img img {
  width: 100%;
  height: 100%;
}

.cont {
  width: 80%;
  position: relative;
  height: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.cont input {
  width: 100%;
  height: 50px;
  color: #595f6e;
  outline: none;
  border-radius: 5px;
  border: 1px #99a1ab solid;
  font-size: 18px;
  padding: 0px 20px;
}

.cont input.big {
  font-size: 30px;
  color: black;
  position: absolute;
}

.cont input:focus {
  border-color: #ff4081 !important;
}

.cont input:hover {
  border-color: black;
}

.cont textarea:hover {
  border-color: black;
}

.cont textarea:focus {
  border-color: #ff4081 !important;
}

.cont label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin-left: 15px;
}

.password-shower {
  position: absolute;
  bottom: 0px;
  left: 100%;
  width: 35px;
  font-size: 25px;
  color: black;
}

.password-shower:hover {
  cursor: pointer;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.cont input:focus + .label-name .content-name,
.cont input:valid + .label-name .content-name {
  transform: translateY(-140%);
  color: #ff4081;
  background-color: white;
  border-radius: 10px;
}

.error {
  color: red;
  width: 100%;
  font-size: 14px;
  text-align: left;
  margin-left: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
