html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #99a1ab;
  font-size: 14px;
  overflow-x: hidden;
}

.overflow-visible {
  margin: 0;
  padding: 0;
  color: #99a1ab;
  font-size: 14px;
  overflow-x: hidden;
}

.overflow-hidden {
  margin: 0;
  padding: 0;
  color: #99a1ab;
  font-size: 14px;
  overflow: hidden;
}

a{
  text-decoration: none;
}